flake8
mypy
pip-tools
pylint
pytest
pytest-cov
pytest-flake8
pytest-mypy
pytest-pylint
pytest-xvfb
pytest-faulthandler
keras
tensorflow
pandas
sklearn
pillow
opencv-python
numpy
# pytesseract
pytube3
tesserocr
googletrans
imageio
matplotlib